.App {
  text-align: center;
  background-color:rgb(245, 245, 245);
}
.quick-status {
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  width:400px;
  height:450px;
  align-self:center;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding:3vw;
  background-color: #da2605;
}
.priority-flag-text {
  color:white;
}
.priority-flag-number{
  color:white;
  font-size:3em;
  margin-bottom:4vh;
}

.top-division {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  height:70vh;
  margin:2vh;
}
.percentage {
  border:1px solid black;
  
}
.lower-division {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap: wrap;
  width:90vw;
  margin:auto;
  min-height:70vh;
}
.flag-division {
  /* border:1px solid black; */
  height:30vh;
  width:18vw;
  margin:2vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:1vh;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  background-color:white;
  justify-content: space-between
}

.search-division {
  background-color: rgba(255, 216, 173, 1);
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
  height:13vh;
  width:50vw;
  margin:auto;
  margin-bottom:2vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  border-radius:50px;
}
.search-input {
  width:15vw;
  border:0;
  border-radius:30px;
  height:3vh;
  text-align: center;
}
.flag-value {
  font-size:4em;

}
/* .flag-name {
  border-bottom:2px solid black;
} */

.nav-division {
  width:100%;
  height:7vh;
  background-color:white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;


}
.nav-navigation {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:20vw;
  margin-right:3vw

}
.navigation-text {
  cursor:pointer;
  border-bottom:2px solid white;
  transition: 0.25s;
  font-size:1.25em;
  font-weight:450;

}
.navigation-text:hover {
  border-bottom:2px solid rgba(255, 216, 173, 1);
  transition: 0.25s;
}
.footer {
  width:100vw;
  height:6vh;
  background-color:rgba(255, 216, 173, 1);
  display:flex;
  justify-content: center;
  align-items: center;

}
.bar-chart {
  align-self:center;
  padding:3vw;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
}
.flag-footer {
  width:80%;
  border-top:1px solid rgb(211, 211, 211);
}